<div>
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink class="nav-link" href="cms/">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Cms
    </NavLink>
</div>